html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main {
  gap: 5px;
  width: 250px;
  display: flex;
  margin: 0 auto;
  flex-direction: column; 
}

.display,
.buttons {
  width: 250px;
}

.display {
  font-size: 24px;
  padding: 8px 16px;
  text-align: right;
}

.buttons {
  gap: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.buttons .first,
.buttons .second,
.buttons .third,
.buttons .fourth,
.buttons .fifth {
  display: flex;
  justify-content: space-evenly;
}

.buttons button {
  width: 45px;
  height: 45px;
}
